*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  --content-limit: 1150px;
}

body {
  --body-color: #2d2d2d;

  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";

  background-color: var(--body-color);
  /* background-color: #2d2d2d; */

  /* --theme-blue-100: #2f8fd7;
  --theme-blue-200: #03a9f4;

  --theme-black-100: #2d2d2d;
  --theme-black-200: #3d3d3d;

  --theme-white-100 :#9e9e9e;
  --theme-white-200: #e7e9eb;

  --theme-green-100: #5a9e70;
  --theme-green-300: #1fa84b;
  --theme-green-400: #10d04e;

  --theme-red-100: #ce0303;
  --theme-red-300: #d73c4b;
  --theme-red-600: #ff7b72;

  --theme-purple-100: #c085ff;
  --theme-purple-300: #6a30cf;

  --theme-orange-100: #5e4633;
  --theme-orange-200: #94531e;
  --theme-orange-300: #f48225;
  --theme-orange-700: #ffc107; */
}


.page-header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343434;
  width: 100%;
  z-index: 2;
}

.page-header__limit {
  max-width: calc(var(--content-limit));
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto;
  padding: 0px 20px;
}

.page-header__logo {
  color: #e9d8ff;
  font-size: 14pt;
  margin-right: 70px;
}

.page__header-socket {
  font-size: 11pt;
  color: #ffc107;
  transition: .2s;
}

.page__header-socket span::after {
  content: "Connecting...";
  display: inline-block;
  font-weight: 500;
}

.page__header-socket_online span::after {
  content: "Online";
}

.page__header-socket_online {
  color: #8bc34a;
}

.page__header-logout {
  margin: 0px 0px 0px auto;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: .3s;
  text-decoration: none;
}

.wrapper {
  max-width: var(--content-limit);
  width: 100%;
  padding: 85px 20px 15px 20px;
  position: relative;
  z-index: 1;
}

.lightning-animation {
  margin-left: 50%;
  transform: translateX(-66%);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: 0;
}

.lightning-animation_strike {
  opacity: 1;
}

@keyframes tester {
  0% {
    transform: scale(0.5);
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

.spark-sensor {
  display: grid;
  grid-template-columns: [col1-start] auto [col2-start] 430px [col2-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.spark-options,
.spark-state,
.weather {
  min-width: 320px;
}

.spark-state {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100%;
  margin-top: 7.5px;
  grid-column: col1-start / col2-start;
  grid-row: row1-start / row2-end;
  margin-top: 10%;
  height: fit-content;
}

.spark-state__info {
  font-size: 14pt;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  min-height: 70px;
}

.spark-state__info-name {
  font-weight: 600;
}

.spark-state__message,
.spark-state__value {
  font-family: cursive;
  margin-left: auto;
}

.spark-state__message,
.spark-state__value {
  color: white;
  padding: 7px 12px;
  border-radius: 4px;
  font-weight: 500;
  transition: .2s;
}

.spark-state__message_null {
  background-color: #80a159;
}

.spark-state__message_disturber {
  background-color: #8864c7;
}

.spark-state__message_noise {
  background-color: #8f449c;
}

.spark-state__message_untracked {
  background-color: #4a7597;
}

.spark-state__value::after {
  display: inline-block;
  font-size: 11pt;
  color: #cfcfcf;
  margin-left: 3px;
}

.spark-state__info_distance .spark-state__value::after {
  content: "km";
}

.spark-state__info_energy .spark-state__value::after {
  content: "meV";
}

.spark-state__info-name {
  color: #f37b26;
}

.spark-state__info-name i {
  min-width: 23px;
}

.spark-state__value {
  background-color: #5d4170;
}

.weather {
  --option-color: #2196f3;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  grid-column: col2-start / col2-end;
  grid-row: row2-start;
}

.weather__title,
.spark-state__title {
  margin-bottom: 13px !important;
}

.weather-list__parameter {
  padding: 9px 15px;
}

.weather__option-name {
  margin-right: 3px;
  color: var(--option-color);
}

.weather__option-value {
  --modifier-color: #bbbbbb;
  background-color:  #5b225c;
  padding: 3px 10px;
  color: white;
  border-radius: 4px;
  font-family: cursive;
  margin-left: auto;
  /* word-break: keep-all; */
}

.weather_modifier {
  color: var(--modifier-color);
  font-size: 10pt;
  font-weight: 600;
}

.weather-list__parameter_temperature .weather__option-value span::after {
  --size: 7px;
  content: "";
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin: 0px 0px 8px 4px;
  border-radius: 50%;
  border: 2px solid var(--modifier-color);
}

.weather-list i {
  min-width: 25px;
  font-size: 13pt;
  color: var(--option-color)
}

.spark-options {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  grid-column: col2-start / col2-end;
  grid-row: row1-start;
}

.spark-options__header {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

.spark-options__title,
.weather__title,
.spark-state__title,
.spark-locator__title {
  margin: 0px auto 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: 600;
  color: #e9d8ff;
  margin-left: 10px;
}

.spark-options__title i,
.weather__title i,
.spark-state__title i
.spark-locator__title i {
  margin-right: 5px;
}

.spark-options__editor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 41px;
  overflow: hidden;
}

.spark-options__menu {
  display: flex;
  margin: 4px 0px;
  transition: .2s;
}

.spark-options__menu button {
  --border: 1px solid #cfcfcf80;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
  border-top: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  background-color: #4c4c4c;
  color: #ebebeb;
  transition: .15s;
}

#config-exit i {
  font-size: 10pt;
}

.spark-options__menu button:first-of-type {
  border-radius: 4px 0px 0px 4px;
}

.spark-options__menu button:last-of-type {
  border-right: var(--border);
  border-radius: 0px 4px 4px 0px;
}

.spark-options__menu span {
  font-size: 9pt;
  display: inline-block;
  transition: .15s;
}

.spark-options__menu_next {
  transform: translateY(-124%);
}

.spark-options__list,
.weather-list,
.spark-state__list {
  --border: 1px solid #474747;
  --border-radius: 4px;
  list-style: none;
}

.spark-options__loader {
  margin-right: 4px;
  opacity: 0;
  transform: scale(0);
  transition: all .2s;
}

.spark-options__loader-animation {
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #2d2d2d;
  border-top: 2px solid #ff8800;
  border-bottom: 2px solid #ff8800;
  border-radius: 50%;
  animation: spark-options__loader_animation .8s linear infinite;
}

.spark-options__setting_loading .spark-options__loader {
  opacity: 1;
  transform: scale(1);
}

@keyframes spark-options__loader_animation
  {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.spark-options__setting,
.weather-list__parameter,
.spark-state__info {
  display: flex;
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  align-items: center;
}

.spark-options__setting {
  min-height: 52px;
  padding: 9px 15px;
}

.spark-options__setting:first-of-type,
.weather-list__parameter:first-of-type,
.spark-state__info:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.spark-options__setting:last-of-type,
.weather-list__parameter:last-of-type,
.spark-state__info:last-of-type {
  border-bottom: var(--border);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.spark-options__setting span,
.weather__option-name {
  font-weight: 500;
  font-size: 13pt;
}

.spark-options__setting span {
  color: #4caf50;
  width: 100%;
}

.spark-options__setting select {
  margin: 0px auto 0px 0px;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px;
  font-size: 13pt;
  border: 1px solid #474747;
  cursor: pointer;
  outline: none;
  color: #ff8800;
  font-family: cursive;
  transition: all .2s;
  position: relative;
  opacity: 1;
  transform: scale(1);
  text-align: center;
}

.spark-options__setting select:disabled {
  -webkit-appearance: none;
  padding-right: 10px;
  padding: 0;
  text-align: end;
  border: none;
  cursor: default;
}

.spark-options__setting_loading select {
  transform: scale(0.9);
  opacity: 0;
}

.spark-options__setting i {
  transform: scale(0.9);
  opacity: 0;
  color: orangered;
  font-size: 15pt;
  transition: all .3s;
  margin-right: 4.5px
}

.spark-options__setting_failed i {
  opacity: 1;
  transform: scale(1);
}

.spark-options__setting option {
  background-color: #2d2d2d;
  color: #ff8800;
  min-width: 20px;
}


@media (pointer: fine) {
  .page__header-logout:hover {
    color: #a958ff;
  }

  .spark-options__menu button:hover {
    filter: brightness(1.2);
  }
}

.lightning-animation {
  /* opacity: 1 !important; */
}

@media screen and (max-width: 1640px) {
  .lightning-animation {
    transform: translateX(-60%);
  }
}

@media screen and (max-width: 1500px) {
  .lightning-animation {
    transform: translateX(-55%);
  }
}

@media screen and (max-width: 1380px) {
  .lightning-animation {
    transform: translateX(-52%);
  }
}

@media screen and (max-width: 1300px) {
  .lightning-animation {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 975px) {
  .wrapper {
    padding: 80px 20px 15px 20px;
  }

  .spark-sensor {
    grid-template-columns: [col1-start] auto [col2-start];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
    grid-gap: 28px;
  }

  .spark-options {
    grid-column: col1-start;
    grid-row: row2-start / row3-start;
  }

  .spark-state {
    grid-column: col1-start;
    grid-row: row1-start / row2-start;
    max-width: none;
    margin-top: 0;
  }
  
  .weather {
    grid-column: col1-start;
    grid-row: row3-start / row3-end;
    margin-top: 0;
  }

  .lightning-animation {
    transform: translateX(-44%) scale(0.85);    
  }
}

/* @media screen and (max-width: 600px) {
  .lightning-animation {
    transform: translateX(-37%) scale(0.9);
  }
} */

@media screen and (max-width: 500px) {
  .lightning-animation {
    transform: translateX(-42%) scale(0.8);
  }
  .page-header {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    padding: 80px 8px 10px 8px;
  }

  .lightning-animation {
    /* transform: translateX(-37%) scale(0.7); */
  }
}